.login-form-group input{
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    background: #ff7a64;
    border-bottom: 1px solid black;
    outline: none;
}

.login-form-group label{
    display: flex;
}