/* Navbar Container */
.navbar {
  position: fixed;          
  top: 0;
  left: 0;
  width: 100%;
  background-color: #e65100;    
  color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  
 
}

/* Inside Navbar */
.navbar-container {
  max-width: 1200px;
  margin: auto;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo-text{
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
 
  
}

/* Links container */
.nav-links {
  display: flex;
  gap: 25px;
}

/* Individual link */
.nav-item {
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease;
}

.nav-item:hover {
  color: #49320f; /* lighter shade on hover */
}

/* Responsive for mobile */
@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links {
    margin-top: 10px;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }
}

/* Dropdown wrapper */
.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  top: 100%; /* just below parent */
  left: 0;
  background-color: #ffffff;
  min-width: 180px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.15);
  z-index: 1001;
}

/* Dropdown links */
.dropdown-content a {
  color: #333;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
  transition: background 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #525050;
  color: #e65100;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.logoimage{
  width: 90px;
}

/* ✅ Logo styling */
.logo-wrapper {
  display: flex;
  
}

.logo-image {
  width: 100px;        
  height: 100px;
  border-radius: 50%;  
  border: 3px solid #beb6b0; 
  object-fit: cover;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  z-index: 100;
  position: fixed;
}