#root {
  width: 90%;         
  margin: 0;          /* remove auto-centering */
  padding-top: 2rem;
  text-align: left;   /* align text normally */
}
body {
  margin: 0;
  display: block;   /* or remove flex */
}
